/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
*.o
*.o.*
*.a
*.la
*.lo
*.so
*.so.*
*.dll
*.dylib
*.efi
*.bin
*.img
*.qcow2
*.qcow
*.vmdk
*.vdi
*.raw
*.ovl
config-devices.*
config-host.*
config-all-devices.*
config-all-disas.*
config-target.*
trace0.h
trace0-tcg.h
trace-dtrace-root.h
trace-dtrace-root.dtrace
trace-ust-all.h
/qemu-bridge-helper
/qemu-img
/qemu-io
/qemu-nbd
/qemu-keymap
/qemu-edid
/qemu-storage-daemon
/storage-daemon/qemu-storage-daemon
/scripts/native
/scripts/qemu-binfmt-conf.sh
/scripts/oss-fuzz/
/pyvenv/
/rust/x86_64-softmmu/
/subprojects/*/

# gzvm / GenieZone specific
/gzvm/
/virt/gzvm/
*.img.gz
*.dtb
*.dtbo
