# Build artifacts
build/
/GNUmakefile
config-host.*
config-target.*
config-all-devices.*
config-all-disas.*
trace.h
trace-*.h
trace*-dtrace*
trace-ust*
qemu-version.h
*.a
*.o
*.o.*
*.so
*.so.*
*.la
*.lo
*.dll
*.dylib
*.efi
.deps/
.libs/
.stgit-*
.git-submodule-status
.clang-format
.gdb_history

# Python
*.pyc
__pycache__/
pyvenv/

# Editor / IDE
/.vscode/
/.cache/
*.swp
*.swo
*~
.*.swp
opencode.jsonc
.codegraph/

# Tags / cscope
tags
TAGS
GPATH
GRTAGS
GTAGS
ctags
cscope.*

# Submodules / ROMs / prebuilts
roms/*
pc-bios/*.bin
pc-bios/*.img
pc-bios/*.rom
pc-bios/*.dtb
pc-bios/dtb/
pc-bios/opensbi-*.bin
/subprojects/*/
/rust/*/

# Build generated scripts
scripts/qemu-binfmt-conf.sh

# Test artifacts
tests/data/uefi-boot-images/
tests/qemu-iotests/*.out.*
tests/lcitool/
scripts/oss-fuzz/
scripts/*/__pycache__/

# QEMU binary targets
/qemu-bridge-helper
/qemu-img
/qemu-io
/qemu-nbd
/qemu-keymap
/qemu-edid
/qemu-storage-daemon
/storage-daemon/qemu-storage-daemon

# gzvm / GenieZone
*.img.gz
*.dtb
*.dtbo

# Misc generated
*.patch
*.gcov
*.ast_raw
*.depend_raw
